Flask==2.3.3
Flask-SQLAlchemy==3.0.3
Flask-WTF
Flask-Login
Flask-Migrate
psycopg2-binary
python-dotenv
email_validator
flask-socketio[asyncio]
gunicorn
eventlet
gevent==23.9.1
greenlet==2.0.2
gevent-websocket==0.10.1