<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Portaria</li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ url_for('porteiro.dashboard') }}">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="https://appsrv1-147a1.kxcdn.com/coreui/vendors/@coreui/icons/svg/free.svg#cil-pencil">
                </use>
            </svg> Painel Principal
        </a>
    </li>

    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
        <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="{{ url_for('static', filename='icons/free.svg') }}#cil-cursor"></use>
            </svg> Profissionais
        </a>
        <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('porteiro.form_cadastrar_profissional') }}"><span class="c-sidebar-nav-icon"></span> Cadastrar</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('porteiro.consultar_profissional') }}"><span class="c-sidebar-nav-icon"></span> Consultar</a></li>
        </ul>
    </li>

    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
        <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="{{ url_for('static', filename='icons/free.svg') }}#cil-cursor"></use>
            </svg> Acessos
        </a>
        <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('porteiro.dashboard') }}"><span class="c-sidebar-nav-icon"></span> Pendentes</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('porteiro.dashboard') }}"><span class="c-sidebar-nav-icon"></span> Em andamento</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('porteiro.dashboard') }}"><span class="c-sidebar-nav-icon"></span> Relatório</a></li>
        </ul>
    </li>
    
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ url_for('main.logout') }}">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="{{ url_for('static', filename='icons/free.svg') }}#cil-account-logout"></use>
            </svg> Logout
        </a>
    </li>
</ul>