<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Síndico</li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ url_for('sindico.sindico_dashboard') }}">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="{{ url_for('static', filename='icons/free.svg') }}#cil-speedometer"></use>
            </svg> Painel Principal
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ url_for('sindico.sindico_dashboard') }}">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="{{ url_for('static', filename='icons/free.svg') }}#cil-user-circle"></use>
            </svg> Meus Dados
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ url_for('sindico.listar_portarias') }}">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="{{ url_for('static', filename='icons/free.svg') }}#cil-house"></use>
            </svg> Portarias
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ url_for('sindico.listar_porteiros') }}">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="{{ url_for('static', filename='icons/free.svg') }}#cil-user-female"></use>
            </svg> Porteiros
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ url_for('sindico.sindico_listar_moradores') }}">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="{{ url_for('static', filename='icons/free.svg') }}#cil-user"></use>
            </svg> Moradores
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ url_for('sindico.relatorios') }}">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="{{ url_for('static', filename='icons/free.svg') }}#cil-chart-pie"></use>
            </svg> Relatório de Acessos
        </a>
    </li>


    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ url_for('main.logout') }}">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="{{ url_for('static', filename='icons/free.svg') }}#cil-account-logout"></use>
            </svg> Logout
        </a>
    </li>
</ul>