{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">{{ titulo }}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ url_for('sindico.sindico_dashboard') }}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('sindico.sindico_listar_moradores') }}">Moradores</a></li>
            <li class="breadcrumb-item active">{{ titulo }}</li>
        </ol>

        <div class="card">
            <div class="card-header">
                Formulário de Morador
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {{ form.hidden_tag() }}
                    
                    <div class="mb-3">
                        {{ form.nome.label(class="form-label") }}
                        {{ form.nome(class="form-control") }}
                        {% for error in form.nome.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                        {% for error in form.email.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        {{ form.apartamento.label(class="form-label") }}
                        {{ form.apartamento(class="form-control") }}
                        {% for error in form.apartamento.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.senha.label(class="form-label") }}
                        {{ form.senha(class="form-control") }}
                        {% for error in form.senha.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    
                    <button type="submit" class="btn btn-primary mt-3">Adicionar Morador</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}